name: treesum
channels:
  - pytorch
  - nvidia
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pandas
  - numpy
  - scipy
  - tqdm
  - pip
  - pip:
      - transformers
      - datasets
      - evaluate
      - rouge_score
      - sentencepiece
      - protobuf
      - tiktoken
      - sentence-transformers
      - nltk
      - psutil
