torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1

protobuf<=3.20
pytorch-lightning<2,>=1.7.7
datasets<3,>=2.3.2
jsonlines<3,>=2.0.0

spacy>=3.4.0,<3.8.0
nltk>=3.7,<4.0

pandas>=1.5.0
numpy>=1.21.0,<2.0.0
tqdm>=4.64.0

scikit-learn>=1.1.0,<2.0
scipy>=1.8.0,<2.0

pathlib2>=2.3.0
python-dateutil>=2.8.0

requests>=2.25.0
